name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch: # enable manual execution

env:
  TERRAFORM_VERSION: 1.10.5
  TERRAFORM_AWS_PROVIDER_VERSION: 5.84.0

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:

    - uses: actions/checkout@v6

    - name: Create terraform.tf
      env:
        TF_FILE: "terraform.tf"
      run: |
        CONTENT="terraform {\n"
        CONTENT+="  required_version = \"${TERRAFORM_VERSION}\"\n"
        CONTENT+="  required_providers {\n"
        CONTENT+="    aws = {\n"
        CONTENT+="      source  = \"hashicorp/aws\"\n"
        CONTENT+="      version = \"${TERRAFORM_AWS_PROVIDER_VERSION}\"\n"
        CONTENT+="    }\n"
        CONTENT+="  }\n"
        CONTENT+="}\n"
        echo -e "${CONTENT}" > "${TF_FILE}"
        cat "${TF_FILE}"

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ env.TERRAFORM_VERSION }}

    - name: Terraform format check
      run: terraform fmt -check -recursive .

    - name: Terraform init
      run: terraform init -backend=false

    - name: Terraform validate
      run: terraform validate
